<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../styles/styles.css">
    <script src="./../js/main.js"></script>
    <title>Front-End Challenge - Pamela Varela</title>
</head>

<body style="background-color: #f6f6f6;">
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><img class="img-logo" src="./../assets/Logo.png"></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-brand navbar-right"><img class="img-icon"
                            src="./../assets/icn_search.png"></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-brand navbar-right"><img class="img-icon"
                            src="./../assets/icn_person.png"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="container" style="height: 100vh;">
                        <div class="loader">
                            <img class="gif-loader" src="../assets/loading_spinner.gif" />
                            <p class="text-loader font-weight-bold">Please wait a moment...</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-10" style="margin-top: 10px;">
                    <p class="text-footer">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore
                        et dolore
                        magna
                        aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi
                        consequat.
                    </p>
                </div>
                <div class="col-sm-2" style="margin-top: 10px;">
                    <a href="#" class="float-right font-weight-bold" id="terms">
                        Terms | Privacy
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>