body {
  min-height: 100vh;
}

.navbar {
  background: #004a80;
}

.img-logo {
  width: 11rem;
  margin-bottom: 5px;
  position: relative;
  left: 18rem;
}

.img-icon {
  width: 25px;
  margin: 2px;
}

.navbar-nav {
  margin-left: auto;
  position: relative;
  right: 20rem;
}

.img-lock {
  width: 10px;
  margin: 7px;
  position: relative;
  bottom: 2px;
}

.container-fluid.header {
  background: #004a80;
  height: 20rem;
}

.container.header {
  background: #004a80;
  width: 60rem;
}

.container-fluid.info {
  background: #f6f6f6;
}

.container.info {
  background: #f6f6f6;
  width: 50rem;
}

.field-text {
  display: inline-block;
}

.font-weight-bold.white-font {
  color: white;
}

.white-font {
  color: white;
}

.text-header {
  font-size: 21px;
  position: relative;
  right: 15px;
}

.font-weight-bold.yellow-font {
  color: #f5c533;
}

#text-yellow {
  font-size: 14px;
  margin-top: 2rem;
  right: 3rem;
  position: relative;
}

.font-weight-bold.blue-font {
  color: #004a80;
}

span.circle {
  background: #004a80;
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: #f5c533;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 4em;
  margin-right: 25px;
  text-align: center;
  width: 7em;
  height: 5rem;
  position: relative;
  top: 10px;
}

.circle-text {
  position: relative;
  top: 6px;
  font-size: 45px;
}

.title-grid {
  color: #004a80;
  font: bold;
  text-align: left;
}

.text-grid {
  font-size: 15px;
  text-align: left;
}

.text-footer {
  color: #989ea2;
  font-size: 15px;
  text-align: justify;
}

footer {
  background-color: white;
}

.form-control-lg {
  border-radius: 2px;
  width: 41rem;
  font-size: 18px;
  border: none;
  position: relative;
  right: 40px;
  padding: 0.5rem 8px;
  height: 53px;
}

::placeholder {
  color: #969191;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.text-information {
  color: #555c61;
  text-align: justify;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.form {
  padding-top: 18px;
  display: inline-block;
}

.btn.btn-light.yellow-button {
  background-image: linear-gradient(
    to right,
    #f5bf2a,
    #f4ca3c,
    #f3d64f,
    #eed254
  );
  width: 9rem;
  position: relative;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  right: 1rem;
  color: #004a80;
  font: bold;
  height: 55px;
  border: none;
  box-shadow: 0 0.2em #a6953b;
  bottom: 4.5px;
}

.btn.btn-light.yellow-button:hover {
  background: #f2da56;
  color: #004a80;
}

.btn.btn-light.yellow-button:focus {
  background: #f6bc25;
  color: #004a80;
}

.loader {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 40%;
}
.gif-loader {
  width: 10rem;
}

.error {
  color: white;
  right: 0px;
  position: relative;
  background: red;
  text-align: left;
  width: 16rem;
}

.form-control-lg.error {
  color: black;
  background: white;
  border: 3px solid red;
  border-radius: 2px;
  width: 40rem;
  font-size: 18px;
  position: relative;
  right: 2rem;
}

.text-loader {
  color: #004a80;
  font-size: 20px;
  top: 25px;
  position: relative;
}

.container-fluid.none {
  height: 15rem;
}

#loading {
  position: absolute;
  top: 30%;
  left: 45%;
}

.container.info-user {
  width: 66vw;
  padding-bottom: 5rem;
}

.card.info {
  background: white;
  position: relative;
  top: 1rem;
  display: flex;
  border-radius: 45px;
  border: none;
  box-shadow: 1px 1px 6px #888;
}

span.circle.info {
  background: #004a80;
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  line-height: 3em;
  margin-right: 25px;
  width: 5em;
  height: 4.5rem;
  position: relative;
  top: 7px;
  display: block;
}

.numbers li {
  color: #004a80;
  list-style-type: none;
  right: 40px;
  position: relative;
}

.data-list {
  list-style-type: none;
  right: 40px;
  position: relative;
}

.container.table {
  width: 55rem;
  padding-bottom: 4rem;
}

.container.second {
  background: #004a80;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#terms {
  color: #004a80;
  font-size: 14px;
}

#text-results {
  color: rgb(110, 106, 106);
}

#row-info {
  position: relative;
  left: 30px;
}

#search-input {
  position: relative;
  left: 130px;
}

.col-lg-2.yellow-button {
  position: relative;
  right: 4rem;
  top: 1px;
}

/* For small devices as phones */
@media screen and (min-width: 300px) and (max-width: 700px) {
  .img-logo {
    width: 10rem;
    position: static;
  }

  .navbar-nav {
    margin-left: auto;
    position: static;
    flex-direction: row;
    margin: -16px;
  }

  .loader {
    text-align: center;
    position: absolute;
    top: 26%;
    left: 17%;
  }

  footer {
    position: relative;
    bottom: 0;
  }

  .container-fluid.header {
    height: 105vh;
  }

  #input-email {
    max-width: 84vw;
    right: 30px;
  }

  #btn-search-1 {
    margin-top: 4vw;
    min-width: 84vw;
    left: 33px;
  }

  #btn-search-2 {
    margin-top: 4vw;
    min-width: 84vw;
    left: 18px;
  }

  .font-weight-bold.yellow-font.left {
    right: 0vw;
  }

  .text-header {
    right: 0px;
  }

  .container.info {
    width: revert;
  }

  .container.table {
    width: revert;
  }

  span.circle {
    width: 9em;
  }

  #terms {
    margin-top: 0px;
    position: relative;
    right: 6rem;
  }

  #text-results {
    text-align: left;
  }

  .container.info-user {
    width: 95vw;
  }

  span.circle.info {
    display: none;
  }

  #row-info {
    left: 0;
  }

  .text-information {
    text-align: left;
  }

  .container.second {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  #search-input {
    position: static;
  }

  #text-yellow {
    right: 0;
  }

  .error {
    right: 30px;
    width: 16.7rem;
  }
}

/* For medium devices */
@media screen and (min-width: 320.98px) and (max-width: 768.98px) {
  .img-logo {
    width: 10rem;
    position: static;
  }

  .navbar-nav {
    margin-left: auto;
    position: static;
    flex-direction: row;
    margin: -16px;
  }

  .loader {
    text-align: center;
    position: absolute;
    top: 26%;
    left: 17%;
  }

  footer {
    position: relative;
    bottom: 0;
  }

  .container-fluid.header {
    height: 100vh;
  }

  #input-email {
    max-width: 84vw;
  }

  .font-weight-bold.yellow-font.left {
    left: 10vw;
  }

  .text-header {
    right: 0px;
  }

  .container.info {
    width: revert;
  }

  .container.table {
    width: revert;
  }

  span.circle {
    width: 8em;
  }

  #terms {
    margin-top: 0px;
    position: relative;
    right: 7rem;
  }
  
  #text-results {
    text-align: left;
  }

  .container.info-user {
    width: 95vw;
  }

  span.circle.info {
    display: none;
  }

  #row-info {
    left: 0;
  }

  .text-information {
    text-align: left;
  }

  .container.second {
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  #search-input {
    position: static;
  }

  #text-yellow {
    left: 0;
  }

  
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img-logo {
    position: static;
  }

  .navbar-nav {
    margin-left: auto;
    position: static;
    flex-direction: row;
    margin: -16px;
  }

  .loader {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 35%;
  }

  span.circle {
    width: 7em;
  }

  .container-fluid.header {
    height: 22rem;
  }

  #input-email {
    max-width: 33rem;
    left: -90px;
    height: 4rem;
  }

  #btn-search-1 {
    width: 10rem;
    height: 4rem;
    left: 21rem;
    min-width: 12vw;
    bottom: 66px;
  }

  #btn-search-2 {
    width: 10rem;
    height: 4rem;
    left: 20rem;
    min-width: 12vw;
    bottom: 66px;
  }

  .font-weight-bold.yellow-font.left {
    right: 24vw;
  }

  .container.info {
    width: revert;
  }

  .container.table {
    width: revert;
  }

  #terms {
    margin-top: 1rem;
    right: -3rem;
  }

  .container.second {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  #search-input {
    position: static;
  }

  .error {
    color: white;
    right: 32px;
    position: relative;
    background: red;
    text-align: left;
    width: 16rem;
  }

  .form-control-lg.error {
    color: black;
    background: white;
    border: 3px solid red;
    border-radius: 2px;
    width: 40rem;
    font-size: 18px;
    position: relative;
    right: 2rem;
  }

  #text-yellow {
    font-size: 14px;
    margin-top: -2rem;
    position: relative;
    left: -185px;
  }
}
